<script>
	var nimbleGlobal = {
		category: '<%= model.category %>'
	};
</script>

<style>
	body {
		<% if (model.category === 'celebrity') { %>
			background: url("/images/celebrity.jpg") repeat;
		<% } else if (model.category === 'nba') { %>
			background: url("/images/nba.jpg") repeat;
		<% } else if (model.category === 'nfl') { %>
			background: url("/images/nfl.jpg") repeat;
		<% } %>
	}
</style>

<div class="container">
	<div class="twitterstream">
		<h1><%= title %></h1>
		<ul class="tweet-list">
			<% for(var i=0; i<model.tweets.length; i++) { %>
				<li class="tweet-stream">
					<div class="tweet-item">
						<div class="profile-image">
							<img src="<%= model.tweets[i].profile_image_url %>"/>
						</div>
						<div class="tweet-info">
							<div class="user">
								<%= model.tweets[i].full_name %> <span class="username"><%= model.tweets[i].user_name %></span>
							</div>
							<div class="text">
								<%= model.tweets[i].text %>
							</div>
							<div class="date">
								<%= model.tweets[i].created_on %>
							</div>
							<input type="hidden" class="pagingDate" value="<%= model.tweets[i].created_on %>" />
						</div>
					</div>
				</li>
			<% } %>
		</ul>
		<div class="pagination">
			<div class="loading">
			  <p><img src="/images/loader.gif" /> Please Wait</p>
			</div>
			<a id="showMore" href="#">Show More</a>
		</div>
	</div>

	<div id="friends" class="friends">
		<input class="search" placeholder="Search <%= model.category %>" />
		<ul class="list friend-list">
			<% for(var i=0; i<model.friends.length; i++) { %>
				<li class="friend">
					<a href="/<%= model.category %>/user/<%= model.friends[i].user_name %>"><%= model.friends[i].full_name %></a>
					<span class="user-name-data"><%= model.friends[i].full_name %></span>
				</li>
			<% } %>
		</ul>
	</div>
</div>

</img>

