<script>
	var nimbleGlobal = {
		next_page: 2,
		user_name: '<%= model.user_name %>'
	};
</script>

<div class="wrapper">
	<div class="twitterstream">
		<h1><%= title %></h1>
		<ul class="tweet-list">
			<% for(var i=0; i<model.tweets.length; i++) { %>
				<li class="tweet-stream">
					<div class="profile-image">
						<img src='<%= model.tweets[i].profile_image_url %>'/>
					</div>
					<div class="tweet-info">
						<div class="user">
							<%= model.tweets[i].full_name %> <span class="username"><%= model.tweets[i].user_name %></span>
						</div>
						<div class="text">
							<%= model.tweets[i].text %>
						</div>
						<div class="date">
							<%= model.tweets[i].created_on %>
						</div>
					</div>
				</li>
			<% } %>
		</ul>
		<a id="showMore" href="#">Show More</a>
	</div>
</div>

<div class="friends">
	<ul class="friend-list">
		<% for(var i=0; i<model.friends.length; i++) { %>
			<li class="friend">
				<a href="/user/<%= model.friends[i].user_name %>"><%= model.friends[i].full_name %></a>
			</li>
		<% } %>
	</ul>
</div>