<%= title %>
<div id="twitterstream">
	<ul id="tweet-list">
		<% for(var i=0; i<tweets.length; i++) { %>
			<li id="tweet-stream">
				<div id="profile-image">
					<img src='<%= tweets[i].profile_image_url %>'/>
				</div>
				<div id="tweet-info">
					<div id="user">
						<%= tweets[i].user_name %><%= tweets[i].full_name %>
					</div>
					<div id="text">
						<%= tweets[i].text %>
					</div>
					<div class="date">
						<%= tweets[i].created_on %>
					</div>
				</div>
			</li>
		<% } %>
	</ul>
</div>

<a id="showMore" href="#">Show More</a>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="/javascripts/jquery.vticker.1.4.js"></script>
<script src="/javascripts/jquery.timeago.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/nimble.js"></script>
<script>
	var nextPage = 2;
	$('#showMore').click(function() {
		$.post('/getmoretweets', { page: nextPage }, function (data) {
			if (data && data.length > 0) {
				nextPage = nextPage + 1;
				showOldTweets(data);
			}
		});
	});
	
	$(function () {
		$('.date').each(function(i) {
			var the_date = new Date($(this).text());
			$(this).html('<abbr class="timeago" title="' + ISODateString(the_date) + '"></abbr>');
		});
		
		$('abbr.timeago').timeago();
	});
</script>

