<script>
	var nimbleGlobal = {
		nextPage: 2
	};
</script>

<%= title %>
<div class="twitterstream">
	<ul class="tweet-list">
		<% for(var i=0; i<model.tweets.length; i++) { %>
			<li class="tweet-stream">
				<div class="profile-image">
					<img src='<%= model.tweets[i].profile_image_url %>'/>
				</div>
				<div class="tweet-info">
					<div class="user">
						<%= model.tweets[i].full_name %> (@<%= model.tweets[i].user_name %>)
					</div>
					<div class="text">
						<%= model.tweets[i].text %>
					</div>
					<div class="date">
						<%= model.tweets[i].created_on %>
					</div>
				</div>
			</li>
		<% } %>
	</ul>
</div>
<a id="showMore" href="#">Show More</a>

<div class="friends">
	<ul>
		<% for(var i=0; i<model.friends.length; i++) { %>
			<li class="name">
				<%= model.friends[i].full_name %>
			</li>
		<% } %>
	</ul>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="/javascripts/jquery.vticker.1.4.js"></script>
<script src="/javascripts/jquery.timeago.js"></script>
<script src="/javascripts/jquery.livequery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/nimble.js"></script>

